In [18]:
import pandas as pd

In [19]:
df_items = pd.read_parquet('../../ICU/tables/d_items.parquet')

In [20]:
df_lab_items = pd.read_parquet('../../ICU/tables/d_labitems.parquet')

In [21]:
df_labevents = pd.read_parquet('../../ICU/tables/labevents.parquet')

In [22]:
top_10 = df_labevents['itemid'].value_counts().head(25).index.tolist()

In [23]:
df_labevents = df_labevents[df_labevents['itemid'].isin(top_10)]

In [24]:
df_labevents = df_labevents.drop_duplicates(subset=['subject_id', 'hadm_id', 'itemid'])

In [25]:
df_labevents['subject_hadm_id'] = df_labevents['subject_id'].astype(str) + '_' + df_labevents['hadm_id'].astype(str)

In [26]:
df_lab_items = df_lab_items[['itemid','label']]

In [27]:
merged_lab_events_df = pd.merge(df_labevents, df_lab_items, on='itemid', how='left')

In [28]:
lab_events_df = merged_lab_events_df.pivot_table(
    index=['subject_id', 'hadm_id', 'subject_hadm_id'], 
    columns='label', 
    values='value', 
    aggfunc='first'
)

In [29]:
lab_events_df = lab_events_df.dropna()
lab_events_df = lab_events_df.drop_duplicates()

In [30]:
lab_events_df = lab_events_df.reset_index()
lab_events_df = lab_events_df.drop_duplicates(subset=['subject_hadm_id'])

In [31]:
lab_events_df

label,subject_id,hadm_id,subject_hadm_id,AG,Albumin Level,Blood Urea Nitrogen,Calcium Level Total,Carbon Dioxide Level,Chloride Level,Creatinine,...,Mean Platelet Volume,"Osmolality, Calculated",Platelet Count,Potassium Level,Red Blood Cell Count,Red Cell Distribution Width-CV,Red Cell Distribution Width-SD,Sodium Level,U:C,White Blood Count
0,10000100,58594204243,10000100_58594204243,9,3.7,12,7.8,25,99,0.83,...,10.5,269,608,3.8,3.61,13.1,45.2,133,14,15.0
1,10000683,29770490036,10000683_29770490036,8,2.1,12,8.5,27,95,0.95,...,12.4,265,81,3.8,2.65,18.6,64.8,130,13,6.3
2,10000788,41046337602,10000788_41046337602,8,3.7,13,8.9,27,96,0.77,...,11.4,264,272,4.0,3.01,15.5,53.1,131,17,7.51
3,10000788,54733468003,10000788_54733468003,9,4.2,21,8.6,22,111,1.41,...,11.4,289,221,4.7,3.46,14.7,53.0,142,15,8.0
4,10000788,88137573369,10000788_88137573369,10,4.0,13,8.2,22,100,0.70,...,11.6,265,275,4.6,3.49,15.6,51.5,132,19,7.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394737,99998998,114567828,99998998_114567828,7,4.2,15,8.9,24,107,1.14,...,10.5,277,229,3.8,4.01,14.3,48.5,138,13,6.0
394738,99999143,95893587997,99999143_95893587997,3,4.2,6,8.0,26,109,0.58,...,8.9,274,474,3.7,4.62,12.1,35.1,138,10,15.5
394739,99999419,47502667961,99999419_47502667961,13,4.2,13,8.8,19,108,0.80,...,11.4,277,230,4.2,5.00,13.5,41.2,136,16.2,6.8
394740,99999419,77122672279,99999419_77122672279,12,4.4,13,8.6,23,104,0.90,...,10.8,272,195,3.5,4.83,13.2,40.2,135,14.4,18.1
394741,99999856,39743800534,99999856_39743800534,5,3.5,12,9.6,34,101,0.84,...,9.8,281,165,3.9,4.78,16.5,49.1,140,14,8.7

In [32]:
lab_events_df.rename(columns={'subject_hadm_id': 'subject_id_hadm_id'}, inplace=True)

In [33]:
lab_events_df

label,subject_id,hadm_id,subject_id_hadm_id,AG,Albumin Level,Blood Urea Nitrogen,Calcium Level Total,Carbon Dioxide Level,Chloride Level,Creatinine,...,Mean Platelet Volume,"Osmolality, Calculated",Platelet Count,Potassium Level,Red Blood Cell Count,Red Cell Distribution Width-CV,Red Cell Distribution Width-SD,Sodium Level,U:C,White Blood Count
0,10000100,58594204243,10000100_58594204243,9,3.7,12,7.8,25,99,0.83,...,10.5,269,608,3.8,3.61,13.1,45.2,133,14,15.0
1,10000683,29770490036,10000683_29770490036,8,2.1,12,8.5,27,95,0.95,...,12.4,265,81,3.8,2.65,18.6,64.8,130,13,6.3
2,10000788,41046337602,10000788_41046337602,8,3.7,13,8.9,27,96,0.77,...,11.4,264,272,4.0,3.01,15.5,53.1,131,17,7.51
3,10000788,54733468003,10000788_54733468003,9,4.2,21,8.6,22,111,1.41,...,11.4,289,221,4.7,3.46,14.7,53.0,142,15,8.0
4,10000788,88137573369,10000788_88137573369,10,4.0,13,8.2,22,100,0.70,...,11.6,265,275,4.6,3.49,15.6,51.5,132,19,7.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394737,99998998,114567828,99998998_114567828,7,4.2,15,8.9,24,107,1.14,...,10.5,277,229,3.8,4.01,14.3,48.5,138,13,6.0
394738,99999143,95893587997,99999143_95893587997,3,4.2,6,8.0,26,109,0.58,...,8.9,274,474,3.7,4.62,12.1,35.1,138,10,15.5
394739,99999419,47502667961,99999419_47502667961,13,4.2,13,8.8,19,108,0.80,...,11.4,277,230,4.2,5.00,13.5,41.2,136,16.2,6.8
394740,99999419,77122672279,99999419_77122672279,12,4.4,13,8.6,23,104,0.90,...,10.8,272,195,3.5,4.83,13.2,40.2,135,14.4,18.1
394741,99999856,39743800534,99999856_39743800534,5,3.5,12,9.6,34,101,0.84,...,9.8,281,165,3.9,4.78,16.5,49.1,140,14,8.7

In [36]:
lab_events_df=lab_events_df.drop(["subject_id", "hadm_id"], axis=1)

In [40]:
merged_previous=pd.read_csv("merged_4.csv")
merged_previous=merged_previous.drop(["Unnamed: 0"], axis=1)

In [41]:
merged_final = pd.merge(merged_previous, lab_events_df, on='subject_id_hadm_id', how='inner')
merged_final

,gender,anchor_age,dod,admission_location,race,hospital_expire_flag,insurance_cat,subject_id_hadm_id,first_careunit,last_careunit,...,Mean Platelet Volume,"Osmolality, Calculated",Platelet Count,Potassium Level,Red Blood Cell Count,Red Cell Distribution Width-CV,Red Cell Distribution Width-SD,Sodium Level,U:C,White Blood Count
0,Female,25,2014-01-04,TRANSFER FROM HOSP,"Unknown, Unavailable or Unreported",1,MEDICAID,10008476_59065693895,2G ICU EUH,2G ICU EUH,...,11.9,313,217,3.1,4.57,12.9,46.8,158,10,18.7
1,Female,25,2014-01-04,TRANSFER FROM HOSP,"Unknown, Unavailable or Unreported",1,MEDICAID,10008476_59065693895,2G ICU EUH,2G ICU EUH,...,11.9,313,217,3.1,4.57,12.9,46.8,158,10,18.7
2,Female,25,2014-01-04,TRANSFER FROM HOSP,"Unknown, Unavailable or Unreported",1,MEDICAID,10008476_59065693895,2G ICU EUH,2G ICU EUH,...,11.9,313,217,3.1,4.57,12.9,46.8,158,10,18.7
3,Female,25,2014-01-04,TRANSFER FROM HOSP,"Unknown, Unavailable or Unreported",1,MEDICAID,10008476_59065693895,2G ICU EUH,2G ICU EUH,...,11.9,313,217,3.1,4.57,12.9,46.8,158,10,18.7
4,Female,25,2014-01-04,TRANSFER FROM HOSP,"Unknown, Unavailable or Unreported",1,MEDICAID,10008476_59065693895,2G ICU EUH,2G ICU EUH,...,11.9,313,217,3.1,4.57,12.9,46.8,158,10,18.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423482,Female,58,NaN,TRANSFER FROM HOSP,African American or Black,0,MEDICARE,99992121_65661024783,2E ICU SJH,2E ICU SJH,...,9.3,272,991,4.3,3.36,18.1,57.6,136,19,36.9
423483,Female,58,NaN,TRANSFER FROM HOSP,African American or Black,0,MEDICARE,99992121_65661024783,2E ICU SJH,2E ICU SJH,...,9.3,272,991,4.3,3.36,18.1,57.6,136,19,36.9
423484,Female,58,NaN,TRANSFER FROM HOSP,African American or Black,0,MEDICARE,99992121_65661024783,2E ICU SJH,2E ICU SJH,...,9.3,272,991,4.3,3.36,18.1,57.6,136,19,36.9
423485,Female,58,NaN,TRANSFER FROM HOSP,African American or Black,0,MEDICARE,99992121_65661024783,2E ICU SJH,2E ICU SJH,...,9.3,272,991,4.3,3.36,18.1,57.6,136,19,36.9
423486,Female,58,NaN,TRANSFER FROM HOSP,African American or Black,0,MEDICARE,99992121_65661024783,2E ICU SJH,2E ICU SJH,...,9.3,272,991,4.3,3.36,18.1,57.6,136,19,36.9

In [42]:
merged_final.to_csv("merged_final.csv")